---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "type";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 18px;
  @include tablet {
    font-size: 14px;
  }
}

body {
  background: $jr-bg-light;
  @extend %text-reset;
  @extend %p-font;
  color: $jr-text-dark;
  min-width: 320px;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
//::-moz-selection {
//  color: $black;
//  background: $lightGray;
//}
//::selection {
//  color: $black;
//  background: $lightGray;
//}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.float-bottom {
  position: absolute;
  bottom:0;
  width:inherit;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .pagehead
//
.page-header {
  display: flex;
  position: relative;
  height: 150px;
  border-bottom: jr-grey(4) solid 5px;
}

.header-title {
  flex: 1 1 auto;
  padding-left: $jr-margin;
  position: relative;
  background:jr-grey(8);
}

.header-social {
  width:210px;

  position: relative;
  background-color: jr-grey(2);
  border-right: $jr-border;
  a {
    width:calc(25% - 20px);
    float:left;
    margin: $jr-margin 10px;
  }
}

.social-container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: $jr-margin;
}

//
// .page-sidebar
//

.page-sidebar {
  width:210px;
  position: absolute;
  top: 150px;
  border-right: $jr-border;
  height:calc(100% - 150px);
  background-color: $jr-bg-dark;
}

//
// .main
//

.page-section {
  width:calc(100% - 210px);
  position: absolute;
  top: 150px;
  left: 210px;
  height:calc(100% - 150px);
  overflow-y: scroll;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
//@import "svg-icons";
