html {
  font-size: 14px;
  @include screen {
    font-size: 18px;
  }
}

body {
  background: $jr-bg-light;
  @extend %text-reset;
  @extend %p-font;
  color: $jr-text-dark;
  min-width: 320px;
}

.container {
  position: relative;
  max-width: 1000px;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items:stretch;
  margin:0 auto;
  border:solid 1px red; //temp
  @include screen-hd {
    max-width: 1200px;
  }
}

.main-menu {
  @include jr-width(1,1);

  @include tablet {
    @include jr-width(1,4);
  }
  @include screen {
    @include jr-width(3,10);
  }
  //@include jr-width(3,10);
  background: pink;

  text-align: right;
}

main {
  @include jr-width(1,1);

  @include tablet {
    @include jr-width(3,4);
  }
  @include screen {
    @include jr-width(7,10);
  }
}
