
//
// VARIABLES
//

@function jr-blue($n) {
  $saturation: 10% * (10 - $n);
  $lightness: 10% * $n;
  @return hsl(220, $saturation, $lightness);
}

@function jr-grey($n) {
  $lightness: 10% * $n;
  @return hsl(220, 15%, $lightness);
}

$jr-emphasis: jr-blue(4);

$jr-bg-dark: jr-grey(3);
$jr-bg-light: jr-grey(9.5);
$jr-bg-hover: jr-grey(9);

$jr-text-dark: jr-grey(1);
$jr-text-light: jr-grey(9);
$jr-text-hover: jr-grey(4.5);

@function jr-rhc-color($n) {
  $saturation: 10% * (10 - $n);
  $lightness: 10% * $n;
  @return hsl(0, $saturation, $lightness);
}

$xNO-USE-example: hsl(220, 15%, 25%);

$jr-margin: 1rem;
$jr-border: 2px solid jr-grey(1);
$jr-shadow: 0 2px 4px rgba(jr-grey(1),0.5);

// Grays
//$black: #000;
//$darkerGray: #222;
//$darkGray: #333;
//$gray: #666;
//$lightGray: #eee;
//$white: #fff;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1030px) {
    @content;
  }
}
