/*.primary-header {
  width:100%;
  //height: 7rem;
  padding:jr-spacer(0.5);
  background: $jr-bg-dark;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}*/


.sub-header {
  color:$jr-emphasis;
  display: block;
}

.offset {

}

.header-logo {
  width: 300px;
  float: left;
}

.header-links {
  font-style: italic;
  //border: $jr-border;
  list-style: none;
  text-decoration: none;
  a {
    margin: 0 jr-spacer();
  }
}

.footer-logo {
  width: 100px;
}
