
.page-header, .page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: jr-spacer();
}

.page-header {
  flex-direction: column;
  background-color: $jr-bg-dark;
  padding-top: 3rem;
  @include jr-size(screen) {
    flex-direction: row;
    padding-top: jr-spacer();
  }
}

.sub-header {
  color:$jr-emphasis;
}

.header-logo {
  width:300px;
}

.header-title {
  flex:1 1 auto;
}

.header-links {
  position: fixed;
  z-index: 10;
  font-style: italic;
  background-color: $jr-bg-dark;
  font-size: 1.2rem;
  right: 0;
  top: 0;
  padding: jr-spacer();
  width:100%;
  @include jr-size(screen) {
    width: auto;
  }
  a {
    margin: 0 jr-spacer(0.5);
  }
}

.page-footer {
  background-color: $jr-bg-dark;
}

.footer-logo {
  width: 100px;
}
