.page-header {
  border-bottom: $jr-border;
  padding:5px;
  position: relative;
  @include jr-size(tablet) {
    margin-top: jr-spacer(2);
  }
}

//temp
.offset {
  display: none;
}

.logo {
  width: 5rem;
  display: block;
  margin-left: calc(50% - 2.5rem);
}

.menu-links {
  font-style: italic;
  height: 2.5rem;
  list-style: none;
  text-decoration: none;
  a {
    margin: 0 jr-spacer();
  }
}

.page-header,
.menu-links {
    width:100%;
  text-align: center;
  @include jr-size(tablet) {
    margin-left: calc(50% - 20rem);
    max-width: 40rem;
  }
}
