html {
  font-size: 14px;
  @include jr-size(screen) {
    font-size: 18px;
  }
}

body {
  background: $jr-bg-light;
  @extend %text-reset;
  @extend %p-font;
  color: $jr-text-dark;
  min-width: 320px;
}

.masthead {
  width:100%;
  height: 100px;
  border-bottom: $jr-border;

  //position: absolute;
  @include jr-size(screen) {
    top:0;
    position: fixed;
    height:150px;
  };
}

.container {
  position: relative;
  max-width: 1200px;
  margin:0 auto;
}

.menu-bar {
  width:100%;
  text-align: center;
//  margin-top: 150px;
  @include jr-size(screen) {
    position:fixed;
    width:350px;
    top: 170px;
  }
}

.page-header {
  border-bottom: $jr-border;
  padding: 5px 0;
  color: jr-grey(2);
  @include jr-size(screen) {
    margin-top: 1rem;
  }
}

.logo {
  height: 2rem;
  stroke:jr-grey(2);
  stroke-width:2;
  display: inline-block;
  @include jr-size(screen) {
    height: 3rem;

  }
}

main {
  padding: jr-spacer();
  width:100%;
  @include jr-size(screen) {
    position:absolute;
    right:0;
    width:calc(100% - 350px);
  }
}

img {
  max-width: 100%;
}
