html {
  font-size: 15px;
  @include jr-size(tablet) {
    font-size: 18px;
  }
}

body {
  background: $jr-bg-light;
  @extend %text-reset;
  @extend %p-font;
  color: $jr-text-dark;
  min-width: 320px;
}

.background-svg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  @include jr-size(tablet) {
    bottom: 2.5rem;
    display: block;
  }
  @include jr-size(screen) {
    position: fixed;
    height: 50vh;
    bottom: 0;
    width: 75vw;
  }
}

.container {
  position: relative;
  margin:0 auto;
  @include jr-size(screen-hd) {
    max-width: 1600px;
  }
}

.side-bar {
  width:100%;
  text-align: center;
  position: relative;
  margin-top: 50px;

  @include jr-size(tablet) {
    margin-top: 150px;
  }
  @include jr-size(screen) {
    margin-top: 0;
    position:fixed;
    width:350px;
    top: 5rem;
  }
  @include jr-size(screen-hd) {
    width: 400px;
  }
}

.page-header {
  border-bottom: $jr-border;
  padding: 5px 6%;
  background-color: rgba($jr-bg-light,0.5);
  @include jr-size(screen) {
    margin-top: 1rem;
  }
}

.logo {
  height: 2rem;
  display: inline-block;
  @include jr-size(screen) {
    height: 3rem;
  }
}

main {

  width:100%;
  @include jr-size(screen) {
    position:absolute;
    right:0;
    width:calc(100% - 350px);
  }
  @include jr-size(screen-hd) {
    width:calc(100% - 400px);
  }
}

img {
  max-width: 100%;
}
