<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

<body>
<header class="block-dark is-spread">
  <div class="header-title">
    <svg xmlns="http://www.w3.org/2000/svg" class="header-logo" viewbox="0 0 34 16">
      <use xlink:href="#jr-logo" />
    </svg>

    <h1 class="page-header"><a href="{{ site.baseurl }}/">{{ site.name }} </a></h1>

<!--    <br>-->
    <h5 class="sub-header">{{ site.description }}</h5>
  </div>

  <nav class="header-links">
    <h3><a href="{{ site.baseurl }}/">Folio</a></h3>
    <h3><a href="{{ site.baseurl }}/about">About</a></h3>
    <h3><a href="{{ site.baseurl }}/contact">Contact</a></h3>
  </nav>
</header>

  <main>
      {{ content }}
  </main>

  <footer class="block-dark is-spread">
    <p>&copy; Jon Richards 2015</p>
    <svg xmlns="http://www.w3.org/2000/svg" class="footer-logo" viewbox="0 0 40 16">
      <use xlink:href="#jr-logo-end" />
    </svg>
  </footer>

  {% include analytics.html %}
  {% include svg.html %}
  {%if page.responsive%}{% include svg-screens.html %}{% endif %}
</body>
</html>
