<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

<body>
  <div class="primary-header {% if page.layout == 'folio' %}offset{% endif %}">
    <header class="page-header">
      <svg xmlns="http://www.w3.org/2000/svg" class="logo" viewbox="0 0 34 16">
        <use xlink:href="#jr-logo" />
      </svg>

      <h1><a href="{{ site.baseurl }}/">{{ site.name }} </a></h1>
    </header>

    <nav class="menu-links">
      <a href="{{ site.baseurl }}/"><h3>Design</h3></a>
      <a href="{{ site.baseurl }}/about"><h3>About</h3></a>
      <a href="{{ site.baseurl }}/contact"><h3>Contact</h3></a>
    </nav>
  </div>

  <main>
      {{ content }}
  </main>

  <footer>

  </footer>

  {% include analytics.html %}
  {% include svg.html %}
  {%if page.responsive%}{% include svg-screens.html %}{% endif %}
</body>
</html>
