/*-- page blocks ----------------------------------------------------------------------*/

[class^="block"] {
  position: relative;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:stretch;
  width:100%;
  padding: jr-spacer();

  &.no-wrap{
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
  }

}

.block-dark {
  background: $jr-bg-dark;
}

.block-white {
  background: $jr-bg-light;
  color: $jr-text-dark;
}

//separated for quick convenience
$pad: jr-spacer(5);

.text-container {
  width:100%;
  max-width: 1000px;

  p:not(.text-intro), ul, ol, h4 {
    padding:jr-spacer() $pad;
  }
  ul, ol {
    list-style: none;
    -webkit-columns: 400px 2;
       -moz-columns: 400px 2;
            columns: 400px 2;
    -webkit-column-gap: $pad;
       -moz-column-gap: $pad;
            column-gap: $pad;
  }
  h2, h3 {
    margin: jr-spacer() 0;
    display: block;
  }
  & > img {
    margin:0 #{-$pad};
   // max-width: 100%;
    width: calc(100% + #{$pad * 2});
  }
  li {
    position: relative;
    padding-bottom: 0.5rem;
  }
}

ul.ul-slim {
    -webkit-columns: 200px 3;
       -moz-columns: 200px 3;
            columns: 200px 3;
    -webkit-column-gap: $pad;
       -moz-column-gap: $pad;
            column-gap: $pad;
}
ul.ul-wide {
    -webkit-column-count:1;
       -moz-column-count:1;
            column-count:1;
}

.list-icon {
  height: 2rem;
  width:2rem;
  display: inline;
  position: absolute;
  left:-2rem;
  top:-0.25rem;
}

.text-intro {
  font-size: 1.3rem;
  color: $jr-emphasis;
}

[class^="tiles-"] {
  list-style: none;
  img {
    width: 100%;
    display: block;
  }
}

.tiles-index {
  background: $jr-bg-dark;
  padding: jr-spacer();
  margin: jr-spacer(2);
  flex: 0 1 700px;
}

.tiles-folio {
  flex:1 0 200px;
  margin: 0 jr-spacer();
}

.tiles-image-head {
  //flex:1 1 auto;
  margin: 0 jr-spacer();
  img {
    max-height: 70vh;
  }
}




