.block {
  position: relative;
}

.block + .block {
//  margin-top: jr-spacer();
}

.block-title {
  border-bottom: $jr-border;
  padding: 2px jr-spacer();
  width: 100%;
  text-align: right;
  background-color: jr-blue(9);
}

.block-entry {
  p {
    &:first-of-type {
      font-size: 1.33rem;
    }
    & + p {
      margin-top: jr-spacer();
    }
  }
}

.block-icon {
  width:256px;
  float:right;
}

