/*-- page blocks ----------------------------------------------------------------------*/

[class^="block"] {
  position: relative;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:stretch;
  width:100%;
  padding: jr-spacer();

  &.no-wrap{
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
  }
  &.is-spread {
    justify-content: space-between;
    align-items: flex-end;
  }

}

.block-dark {
  background: $jr-bg-dark;
}

.block-white {
  background: $jr-bg-light;
  color: $jr-text-dark;
}

//separated for quick convenience
$pad: jr-spacer(5);

.text-container {
  width:100%;
  max-width: 1000px;

  p:not(.text-intro), ul, ol, h4 {
    padding:jr-spacer() $pad;
  }
  ul, ol {
    -webkit-columns: 400px 2;
       -moz-columns: 400px 2;
            columns: 400px 2;
    -webkit-column-gap: $pad;
       -moz-column-gap: $pad;
            column-gap: $pad;

  }
  h2, h3 {
    margin: jr-spacer() 0;
  }

  img {
    margin:0 #{-$pad};
   // max-width: 100%;
    width: calc(100% + #{$pad * 2});
  }
}

.text-intro {
  font-size: 1.3rem;
  color: $jr-emphasis;
}

[class^="tiles-"] {
  list-style: none;
  img {
    width: 100%;
    display: block;
  }
}

.tiles-index {
  background: $jr-bg-dark;
  padding: jr-spacer();
  margin: jr-spacer(2);
  flex: 0 1 700px;
}

.tiles-folio {
  flex:1 0 200px;
  margin: 0 jr-spacer();
}

.tiles-image {
  flex:1 1 auto;
  margin: 0 jr-spacer();
  img {
    width:100%;
  }
}




