
/* SCREEN RATIOS:
##phone:
w 148
h 262
ratio: 0.56 (1.78)

##tablet:
w 228
h 360
ratio: 0.63 (1.58)

##screen:
w 864
h 485
ratio 1.78

*/

.screen-size-mobile,
.screen-size-tablet {
  position: absolute;
  bottom:5%;
}

.screen-size-screen {
  width: 75%;
  max-width: 1024px;
  margin: 5px 21%;
}
.screen-size-mobile {
  right: 3%;
  width: 15%;
  max-width: 180px;
}
.screen-size-tablet {
  left: 3%;
  width: 25%;
  max-width: 270px;
}

