//separated for quick convenience
$pad: jr-spacer(5);

.text-container {
  width:100%;
  max-width: 1000px;

  p:not(.text-intro), ul, h4 {
    padding:jr-spacer() $pad;
  }
  ul {
    list-style: none;
    -webkit-columns: 400px 2;
       -moz-columns: 400px 2;
            columns: 400px 2;
    -webkit-column-gap: $pad;
       -moz-column-gap: $pad;
            column-gap: $pad;
  }
  h2, h3 {
    margin: jr-spacer() 0;
    display: block;
  }
  img:not(.list-icon) {
    margin:0 #{-$pad};
   // max-width: 100%;
    width: calc(100% + #{$pad * 2});
  }
  li {
    position: relative;
    padding-bottom: 0.5rem;
  }
}

ul.ul-slim {
    -webkit-columns: 200px 3;
       -moz-columns: 200px 3;
            columns: 200px 3;
    -webkit-column-gap: $pad;
       -moz-column-gap: $pad;
            column-gap: $pad;
}
ul.ul-wide {
    -webkit-column-count:1;
       -moz-column-count:1;
            column-count:1;
}

.list-icon {
  height: 2rem;
  width:2rem;
  display: inline;
  position: absolute;
  left:-2rem;
  top:-0.25rem;
}

.text-intro {
  font-size: 1.3rem;
}
