//file location
$src:  url('/images/icons.min.svg');

//size of sprite grid
$sprite-grid-size: 32px;

// name: x y,
$iconMap: (
  phot: 0 0,
  illu: 1 0,
  inde: 2 0,
  brac: 3 0,
  adob: 4 0,
  java: 0 1,
  css3: 1 1,
  html: 2 1,
  php:  3 1,
  mysq: 4 1,
  npm:  0 2,
  scss: 1 2,
  svg:  2 2,
  word: 3 2,
  wamp: 4 2,
  acce: 0 3,
  aws:  1 3,
  gith: 2 3,
  auto: 3 3,
  gulp: 4 3,
  vba:  0 4,
  wins: 1 4,
  pyth: 2 4,
  edu:  3 4,
  lua:  4 4,
);

@mixin jr-icon($name) {
  &::before {
    $sprite-ref: map-get($iconMap, $name);
    $sprite-coord-x: -(nth($sprite-ref, 1) * $sprite-grid-size);
    $sprite-coord-y: -(nth($sprite-ref, 2) * $sprite-grid-size);
    background-position: $sprite-coord-x $sprite-coord-y;
    @content;
  }
}

.list-icon {
  line-height: $sprite-grid-size;
//  height:200px;
  &::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background-image: $src;
    height: $sprite-grid-size;
    width: $sprite-grid-size;
    left: -36px;
    top: 0;
    background-repeat: no-repeat;
  }
}

@each $item-name in map_keys($iconMap)  {
  .#{$item-name} {
    @include jr-icon($item-name);
  }
}

.text-icon {
  &::before {
    pointer-events: none;
    @extend %h-font;
    font-size: 1.5rem;
    color:$jr-emphasis;
    background: $jr-bg-dark;
    width: 36px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
  }
}

@each $letter in (A, B, C, D) {
  .text-icon.#{$letter}::before {
    content: '#{$letter}';
  }
}
.text-icon.Astar::before {
  content: 'A*';
}
