$fonts: aleo Amble;

$font-weights: (
  'Regular': normal normal,
  'Italic': normal italic,
  'Bold': bold bold,
  'BoldItalic': bold italic
);

$font-weight-keys: map-keys($font-weights);

@each $font in $fonts {

  @each $weight in $font-weight-keys {

    $weight-values: map-get($font-weights, $weight);

    @font-face {
      font-family: $font;
      src: url(#{'font/' + $font + '-' + $weight + '.woff'});
      font-weight: nth($weight-values, 1);
      font-style: nth($weight-values, 2);
    }
  }
}

$sans-serif: "Amble", Helvetica, Arial, sans-serif;
$serif: "aleo", Cambria, Times New Roman, Times, serif;

%text-reset {
  color: inherit;
  font-variant-ligatures: normal;
}

%h-font {
  font-family: $serif;
  line-height: 1.1;
  display: block;
  padding: 0.1em 0;
  //font-weight: bold;
}

%p-font {
  font-family: $sans-serif;
  line-height: 1.6;
}

h1 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 3.842em;
}

h2 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 2.744em;
}

h3 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 1.96em;
}

h4 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 1.4em;
//  text-align: center;
  strong {
    color: $jr-emphasis;
  }
}

h5 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 1em;
}


p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

a, %a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  border-bottom: solid 2px $jr-emphasis;
  &:hover, &:active {
    color: $jr-emphasis;
  }
}
