$fonts: aleo Amble;

$font-weights: (
  'Regular': normal normal,
  'Italic': normal italic,
  'Bold': bold bold,
  'BoldItalic': bold italic
);

$font-weight-keys: map-keys($font-weights);

@each $font in $fonts {

  @each $weight in $font-weight-keys {

    $weight-values: map-get($font-weights, $weight);

    @font-face {
      font-family: $font;
      src: url(#{'font/' + $font + '-' + $weight + '.woff'});
      font-weight: nth($weight-values, 1);
      font-style: nth($weight-values, 2);
    }
  }
}

$sans-serif: "Amble", Helvetica, Arial, sans-serif;
$serif: "aleo", Cambria, Times New Roman, Times, serif;

%text-reset {
  line-height: 1.5;
  color: inherit;
  font-variant-ligatures: normal;
}

%h-font {
  font-family: $serif;
  display: inline-block;
 // padding-bottom: 0.2em;
}

%p-font {
  font-family: $sans-serif;
}

h1 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 2.856em;
  font-weight: bold;
}

h2 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 2.197em;
}

h3 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 1.69em;
}

h4 {
  @extend %text-reset;
  @extend %h-font;
  font-size: 1.3em;
  text-align: center;
  }


p {

}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  &:hover, &:active {
    color: $jr-text-hover;
  }
}
