
//
// VARIABLES
//



@function jr-blue($n) {
  $saturation: 5% * (10 - $n);
  $lightness: 10% * $n;
  @return hsl(225, $saturation, $lightness);
}

@function jr-grey($n) {
  $lightness: 10% * $n;
  @return hsl(225, 20%, $lightness);
}

$jr-emphasis: #6fbaf4;

$jr-bg-dark: jr-blue(2);
$jr-bg-med: jr-blue(3);
$jr-bg-light: jr-blue(9);
$jr-bg-hover: jr-blue(8.5);

$jr-text-dark: jr-blue(3);
$jr-text-med: jr-blue(8);
$jr-text-light: jr-blue(9);
$jr-text-hover: jr-grey(4.5);

//$xNO-USE-example: hsl(16, 15%, 25%);

@function jr-spacer($n: 1) {
  @return $jr-margin * $n
}

$jr-margin: 1rem;
$jr-border: 2px solid ;
$jr-shadow: 0 2px 4px rgba(jr-grey(1),0.5);

// Grays
//$black: #000;
//$darkerGray: #222;
//$darkGray: #333;
//$gray: #666;
//$lightGray: #eee;
//$white: #fff;


// Mobile breakpoints

//base size (min);
$break-xs: 320px;
//tablet
$break-s: 768px;
//screen
$break-m: 1030px;
//hd screen
$break-l: 1400px;

@mixin jr-size($media) {
  @if $media == phoneOnly {
    @media only screen and (max-width: $break-s) { @content; }
  }
  @if $media == tablet {
    @media only screen and (min-width: $break-s + 1) { @content; }
  }
  @if $media == tabletOnly {
    @media only screen and (min-width: $break-s + 1) and (max-width: $break-m) { @content; }
  }
  @else if $media == screen {
    @media only screen and (min-width: $break-m + 1) { @content; }
  }
  @else if $media == screen-hd {
    @media only screen and (min-width: $break-l) { @content; }
  }
}
